@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
body {
  width: 100%;
  margin: 0 auto;
  background-color: #cacbc2;
  font-family: 'Seymour One', sans-serif;
  font-size: 16px;
}

header {
  height: 50px;
  margin-bottom: 10px;
  background-color: #212625;
  color: white;
  font-size: 1.8rem;
  position: relative;
}

h1 {
  display: inline-block;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

main {
  width: 80%;
  margin: 0 auto;
}

.colunas {
  width: 35px;
  border: 1px solid #89674C;
  border-top: none;
  border-bottom-width: 2px;
  height: 210px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.colunas:first-child {
  border-left: 2px solid #89674C;
}

.colunas:last-child {
  border-right: 2px solid #89674C;
}

.cells {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border-radius: 50px;
}

@keyframes fallDisc {
  from {
    position: absolute;
    top: -50px;
  }
  to {
    top: 100px;
  }
}

.player1 {
  background: rgb(156, 156, 156);
  background: radial-gradient(circle, rgba(156, 156, 156, 1) 0%, rgba(131, 131, 131, 1) 20%, rgba(110, 110, 110, 1) 40%, rgba(98, 96, 96, 1) 60%, rgba(77, 75, 75, 1) 80%, rgba(62, 62, 62, 1) 100%);
  animation-name: fallDisc;
  animation-duration: 1000ms;
}

.player2 {
  background: rgb(255, 7, 7);
  background: radial-gradient(circle, rgba(255, 7, 7, 1) 0%, rgba(227, 7, 7, 1) 20%, rgba(205, 8, 8, 1) 40%, rgba(187, 9, 9, 1) 60%, rgba(163, 8, 8, 1) 80%, rgba(130, 6, 6, 1) 100%);
  animation-duration: 1000ms;
  animation-name: fallDisc;
}

#table {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  display: block;
  margin: 0 auto 20px auto;
  font-size: 1rem;
  padding: 10px 15px 10px 15px;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
  background-color: #212625;
  color: white;
  font-family: 'Seymour One', sans-serif;
  outline: none;
}

button:hover {
  background-color: #3d4342;
}

#currentPlayer {
  height: 50px;
  width: 100%;
  margin: 0 auto 30px auto;
  text-align: center;
}

#playerBall {
  margin: 0 auto;
}

#score {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 30px auto 0 auto;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1rem;
}

#scorePlayers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

#scoreTitle {
  text-align: center;
  padding-bottom: 25px;
}

.scorePlayer {
  text-align: center;
  padding-top: 20px;
  font-size: 1rem;
}

#scorePlayer1 {
  color: rgb(85, 85, 85);
}

#scorePlayer2 {
  color: rgb(184, 33, 33);
}

.modal {
  position: fixed;
  min-height: 25vh;
  width: 60vw;
  top: 25%;
  right: 20%;
  background-color: #212625;
  border-radius: 8px;
  color: white;
}

.hide {
  display: none;
}

h2 {
  text-align: center;
  margin: 35px 10px 20px 10px;
  font-size: 1rem;
}

.modal>#ballModal {
  animation: none;
  margin: 0 auto;
  margin-bottom: 20px;
}

.close, #closeInfo {
  font-size: 1.2rem;
  position: absolute;
  top: 2%;
  right: 1%;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}

.modalInfo {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
  padding: 25px 16px;
  background-color: #212625;
  color: white;
}

.modal-header h2 {
  margin: 0;
  font-size: 1.2rem;
}

.modal-body {
  padding: 20px 16px;
  text-align: justify;
  text-indent: 2rem;
  font-size: 0.7rem;
}

.modal-footer {
  padding: 10px 16px;
  background-color: #212625;
  text-align: center;
  color: white;
}

.modal-footer h3 {
  font-size: 1rem;
  margin: 10px 0 20px 0;
}
.modal-content {
  position: relative;
  top: 5%;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#imgs {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  width: 80%;
  margin-bottom: 20px;
  font-size: 0.5rem;
}

img {
  width: 100%;
}

#iconInfo {
  margin: 0 auto;
  width: 95%;
  font-size: 0.8rem;
  text-align: right;
}


@media only screen and (min-width: 450px) {
  header {
    height: 65px;
  }
  .colunas {
    border: 2px solid #89674C;
    border-bottom-width: 4px;
    border-top: none;
    width: 40px;
    height: 260px;
  }
  .colunas:first-child {
    border-left: 4px solid #89674C;
  }
  .colunas:last-child {
    border-right: 4px solid #89674C;
  }
  .cells {
    width: 38px;
    height: 38px;
  }
  #scorePlayers {
    margin: 0 auto;
    max-width: 400px;
  }
  #score {
    font-size: 1.2rem;
  }
  .scorePlayer {
    font-size: 1.2rem;
  }

  .modal-footer h3 {
    font-size: 1.5rem;
  }
  #imgs {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  figure {
    width: 40%;
    margin-bottom: 20px;
    font-size: 0.8rem;
  }
  
  img {
    width: 100%;
  }
  #iconInfo {
    margin: 0 auto;
    width: 95%;
    font-size: 1rem;
    text-align: right;
  }
  
  .modal-body {
    font-size: 1rem;
  }
  
}

@media only screen and (min-width: 750px) {
  header {
    height: 70px;
  }
  .colunas {
    border: 3px solid #89674C;
    border-top: none;
    border-bottom-width: 6px;
    width: 50px;
    height: 300px;
  }
  .colunas:first-child {
    border-left: 6px solid #89674C;
  }
  .colunas:last-child {
    border-right: 6px solid #89674C;
  }
  .cells {
    width: 45px;
    height: 45px;
  }
  .modal h2 {
    font-size: 1.5rem;
    margin: 60px 20px 30px 20px;
  }
  #scorePlayers {
    margin: 0 auto;
    max-width: 400px;
  }
  #score {
    margin-top: 50px;
    font-size: 1.4rem;
  }
  .scorePlayer {
    font-size: 1.4rem;
  }
  button {
    font-size: 1.4rem;
  }
  
  #imgs {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  figure {
    width: 20%;
    margin-bottom: 20px;
    font-size: 0.8rem;
  }
  
  img {
    width: 100%;
  }
  #iconInfo {
    margin: 0 auto;
    width: 80%;
    font-size: 1.2rem;
    text-align: right;
  }
  .modal-body {
    font-size: 1.2rem;
  }
}